@model StackOverFlowApp.Web.Models.Item

@{
    ViewBag.Title = "Question Detail";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.title</h3>                
            </div>
            <div class="panel-body">
                
                <p>
                    @Html.Raw(@Model.body)
                </p>
                <br />
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">User <span class="badge">@Model.owner.display_name</span></button>
                    <button type="button" class="btn btn-default">Answer <span class="badge">@Model.answer_count</span></button>
                    <button type="button" class="btn btn-default">Score <span class="badge">@Model.score</span></button>
                    @if (Model.tags != null)
                    {
                            if (Model.tags.Count() > 0)
                            {
                            <button type="button" class="btn btn-default">
                                Tags

                                @foreach (var item in Model.tags)
                                {
                                    <span class="badge"> @item </span>
                                }
                            </button>
                            }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

